<?xml version="1.0" encoding="utf-8"?>
<!--

  Copyright 2003-2008 Terracotta, Inc.
  Copyright Super iPaaS Integration LLC, an IBM Company 2024

-->
<faqs title="Frequently Asked Questions">
    <part id="part01">
        <faq id="faq01">
            <question>
                What is ${project.name}?
            </question>
            <answer>
                ${project.description}
            </answer>
        </faq>
    </part>
</faqs>
